<h1>Books</h1>

<div id="books">
    <ul>
        <% @books.each do |book| %>
        <li>
            <%= link_to book_path(book) do %>
                <h2><%= book.title %></h2>
                <p><%= book.author %></p>
                <p><%= book.isbn %></p>
            <% end %>
        </li>
        <% end %>
    </ul>
</div>
